{
  "Actions": [
    {
      "Name": "mouse1",
      "GroupName": "",
      "Title": "",
      "KeyboardCode": "MOUSE1",
      "GamepadCode": "RightTrigger"
    },
    {
      "Name": "forward",
      "GroupName": "",
      "Title": null,
      "KeyboardCode": "W",
      "GamepadCode": "None"
    },
    {
      "Name": "backward",
      "GroupName": "",
      "Title": null,
      "KeyboardCode": "S",
      "GamepadCode": "None"
    },
    {
      "Name": "left",
      "GroupName": "",
      "Title": null,
      "KeyboardCode": "A",
      "GamepadCode": "None"
    },
    {
      "Name": "right",
      "GroupName": "",
      "Title": null,
      "KeyboardCode": "D",
      "GamepadCode": "None"
    },
    {
      "Name": "mouse2",
      "GroupName": "",
      "Title": null,
      "KeyboardCode": "MOUSE2",
      "GamepadCode": "None"
    },
    {
      "Name": "mouse3",
      "GroupName": "",
      "Title": null,
      "KeyboardCode": "MOUSE3",
      "GamepadCode": "None"
    },
    {
      "Name": "camera_normal",
      "GroupName": "",
      "Title": null,
      "KeyboardCode": "Q",
      "GamepadCode": "None"
    },
    {
      "Name": "camera_build",
      "GroupName": "",
      "Title": null,
      "KeyboardCode": "SPACE",
      "GamepadCode": "None"
    },
    {
      "Name": "camera_combat",
      "GroupName": "",
      "Title": null,
      "KeyboardCode": "E",
      "GamepadCode": "None"
    }
  ],
  "__guid": "da957186-4134-4250-b9b3-b45b3c9e251d",
  "__schema": "configdata",
  "__type": "InputSettings",
  "__version": 1
}