{
  "DestroyLobbyWhenHostLeaves": true,
  "AutoSwitchToBestHost": false,
  "ClientsCanSpawnObjects": true,
  "ClientsCanRefreshObjects": true,
  "ClientsCanDestroyObjects": true,
  "UpdateRate": 10,
  "__guid": "6f376d73-9007-45a8-a54e-48230205b72b",
  "__schema": "configdata",
  "__type": "NetworkingSettings",
  "__version": 1
}